body {
    background-color: #EAF6F6;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 100%;
}

.center {
    text-align: center;
}

.courseName {
    display: inline-block;
    width: 400px;
}

.courseID {
    display: inline-block;
    width: 55px;
}

.faBlack {
    color: black;
}

#steam {
    margin-left: 10px;
}